<div class='menu-links'>
  <div class='buttons pull-right'>
    {{d-button label="menu_links.new" action="newItem" icon="plus" class="btn-primary"}}
  </div>
  <h3>{{i18n 'menu_links.title'}}</h3>
  <br>
  {{#if model}}
    {{#each arrangedContent as |ml|}}
      {{admin-user-field-item menuLink=ml
                              firstField=arrangedContent.firstObject
                              lastField=arrangedContent.lastObject
                              destroyAction="destroy"}}
    {{/each}}
  {{/if}}
</div>
